.header-navbar-scrolling {
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: #344E41;
  text-align: left;
  z-index: 100;
  height: 100px;
}

.header-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: #344E41;
  text-align: left;
  height: 100px;

}

.header-logo {
  height: 100px;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.header-navbar-scrolling-mobile {
  height: 125px;
  margin-top: -1px;
  font-size: 1.3rem;
  z-index: 100;
  background-color: #344E41;
  text-align: left;
  line-height: 1.5;
  width: 100%;
}

.header-navbar-mobile {
  position: fixed;
  bottom: 0;
  height: 125px;
  font-size: 1.3rem;
  z-index: 100;
  background-color: #344E41;
  text-align: left;
  line-height: 1.5;
  width: 100%;
  margin-bottom: -1px;
}


/* Mobile */
@media screen and (max-width:960px) {
  /* CSS for screens that are 480px pixels or less will be put in this section */
  .header-logo {
    height: 125px;
  }

  .navbar-links-span {
    position: absolute;
    right: 2%;
  }

  .nav-link {
    font-size: medium;
  }
  
}
