
.card-wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  min-width: 400px;
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #DAD7CD;
  margin: 50px 0;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #A3B18A;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 1.5em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.card img {
  margin: 30px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.bottom {
  margin-top: 90px;
}

.info {
  margin: 20px 0;
  font-size: 1em;
  color: #2d3436;
}

/* Mobile */
@media screen and (max-width:480px) {
  /* CSS for screens that are 480px pixels or less will be put in this section */
  .card-wrapper {
    text-align: center;
    margin: 0 auto;
    padding: 25px;
    max-width: 300px;
    min-width: 300px;
  }

  .name {
    font-size: 1.4em;
    color: #2d3436;
    display: flex;
    flex: 1;
    margin: 10% 20px 0;
  }
  
  .card img {
    margin: 10px 5px 0 0;
  }
  
  .circle-img {
    border-radius: 50%;
    border: 5px solid #fff;
    width: 100px;
    height: 100px;
  }

  .top {
    border-radius: 25px 25px 0 0;
    height: 70px;
    width: 100%;
    background-color: #A3B18A;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }

  .bottom {
    margin-top: 60px;
  }
}