.App {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1 {
  position: absolute; 
  left: 0;
  top: 45%;
  width: 100%;
  font-size: 4rem;
}

/* Parralax Section */
.img-1, .img-2, .img-3, .img-4, .img-5 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-1 {
  /* background-image: url("./images/field-smallest.jpg"); */
  background-color: #344E41;
  min-height: 100vh;
  text-align: left;
}

.img-2 {
  /* background-image: url("./images/field-smallest.jpg"); */
  background-color: #3A5A40;
  min-height: 50vh;
}

.img-card {
  /* background-image: url("./images/field-smallest.jpg"); */
  background-color: #84a98c;
  height: fit-content;
}

.anchor {
  margin-top: -99px;
  padding-bottom: 99px;
  height: 0px;
}

.img-catalog {
  height: fit-content;
  background-color: #588157;

}

.img-text-1, .img-text-2 {
  top: 35%;
  width: 100%;
  color: white;
  text-align: center;    
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.section-1 {
  color:black;
  background-color: white;
  padding: 50px;
  text-align: justify;
  font-size: xx-large;
  font-weight: 500;
}

.opening {
  margin-bottom: 2.5%;
  margin-top: 2.5%;
  font-size: 125%;
}
.opening-span {
  display: inline-flex;
}
.opening-paragraph-wrapper {
  padding-top: 5%;
  text-align: left;
}

.opening-paragraph {
  padding-top: 2.5%;
  padding-left: 3%;
  padding-right: 3%;
}

.default-paragraph {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 2%;
  padding-right: 2%;
}

.built-section {
    color:black;
    background-color: white;
    padding: 50px 80px;
    text-align: center;
}

.built {
  font-size: 3rem

  /* top: 45%;
  width: 100%; */
  /* font-size: 4rem; */
}
/* React Logo */
.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 
 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.default-logo {
  height: 20vmin;
  pointer-events: none;
  padding-top: 10px;
  padding-left: 10px;

}

.personal-logo {
  height: 30vmin;
  pointer-events: none;
}

.aws-pic {
  height: 70vmin;
  pointer-events: none;
}

.img-holder {
  padding-right: 1.5%;
}
.mobile-spacer {
  height: 0px;
}

/* Mobile */
@media screen and (max-width:960px) {
  /* CSS for screens that are 480px pixels or less will be put in this section */
  h1 {
    position: absolute; 
    left: 0;
    top: 45%;
    width: 100%;
    font-size: 3rem;
  }

  .img-text-1 {
    color: white;
    text-align: center;    
  }

  .section-1 {
    font-size: large;
    padding-right: 3%;
    padding-left: 3%;
  }

  .default-logo {
    height: 10vmin;
  }
  .App-logo {
    height: 10vmin;
  }

  .opening-span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .img-holder {
    text-align: center;
    width: 100%;
    padding-bottom: 2%;
    padding-right: 0%;
  }

  .mobile-spacer {
    height: 125px
  }

  .anchor {
    margin-top: -0px;
    padding-bottom: 0px;
    height: 0px;
  }
}
